*{
	font-family: "Proza Libre", sans-serif;

	/*
	border: 1px solid rgba(0, 0, 0, 0.3);
	*/
}

body {
	background-color: white;
}


@media (max-width:320px) {  /*small mobile*/
  h1 {
    font-size: 40px;
  }
}
@media (min-width:321px) and (max-width:959px) {  /*tablet*/
	h1 {
    font-size: 50px;
  }
}
@media (min-width:960px) and (max-width:1599px) {  /*desktop*/
	h1 {
    font-size: 65px;
  }
}
@media (min-width:1600px) {  /*desktop and tv*/
	h1 {
    font-size: 60px;
  }
}


@media (max-width:320px) {  /*small mobile*/
	h2 {
    font-size: 25px;
  }
}

@media (min-width:321px) and (max-width:959px) {  /*tablet*/
	h2 {
    font-size: 35px;
  }
}
@media (min-width:960px) and (max-width:1599px) {  /*desktop*/
	h2 {
    font-size: 50px;
  }
}
@media (min-width:1600px) {  /*desktop and tv*/
	h2 {
    font-size: 50px;
  }
}

@media (max-width:320px) {  /*small mobile*/
	h2.texte_banniere {
    font-size: 20px;
  }
}

@media (min-width:321px) and (max-width:959px) {  /*tablet*/
	h2.texte_banniere {
    font-size: 50px;
  }
}
@media (min-width:960px) and (max-width:1599px) {  /*desktop*/
	h2.texte_banniere {
    font-size: 80px;
  }
}
@media (min-width:1600px) {  /*desktop and tv*/
	h2.texte_banniere {
    font-size: 100px;
  }
}



@media (max-width:320px) {  /*small mobile*/
	h3  {
    font-size: 25px;
  }
}
@media (min-width:321px) and (max-width:959px) {  /*tablet*/
	h3 {
    font-size: 25px;
  }
}
@media (min-width:960px) and (max-width:1599px) {  /*desktop*/
	h3 {
    font-size: 30px;
  }
}
@media (min-width:1600px) {  /*desktop and tv*/
	h3 {
    font-size: 30px;
  }
}

@media (max-width:320px) {  /*small mobile*/
	p {
    font-size: 10px;
  }
}
@media (min-width:321px) and (max-width:959px) {  /*tablet*/
	p {
    font-size: 15px;
  }
}
@media (min-width:960px) and (max-width:1599px) {  /*desktop*/
	p {
    font-size: 20px;
  }
}
@media (min-width:1600px) {  /*desktop and tv*/
	p {
    font-size: 20px;
  }
}




.navbar {
	color: white;
	background-color: #46ABE2;
	border: 1px solid white;
}

a {
	text-decoration: none;
	color : white;
}

h3 {
	text-align: center;
	font-size: 40px;
}



/*Page de présentation*/


.prenom {
	padding-left: 20px;
	padding-top: 50px;
	font-style: bold;
	margin-left: 20px;
}

#inside {
	letter-spacing: 5px;
	color: #46ABE2;
	font-style: italic;
	margin-bottom: 50px;
}

.contact_box{
	border-radius: 100%;
	background-color: #46ABE2;
	height: 230px;
	width: 230px;
	margin-left: 80px;
	margin-top: 1%;
}

.contact_box:hover {
  background-color: white;
  cursor: pointer;
}

#contact{
	color: white;
	padding-top: 50px;
}

#contact-mail{
	font-size: 13px;
	position: relative;
	color: #46ABE2;
	margin-bottom: 20px;
	margin-right: 1em;
}


/* Espace entre section*/

.espace {
	height: 150px;
}

/*Texte bannière*/

.texte_banniere {
  position: relative;
  text-align: left;
  color: white;
  font-family: 'Russo One', sans-serif;
  font-size: 100px;
}

.texte_banniere2 {
  padding: 1%;
  position: relative;
  text-align: left;
  margin-top: 15%;
  margin-left: 5%;
  margin-bottom: 5%;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  border-radius: 5%;
}


/*Texte sous bannière*/

.texte_sous {
	background-color: #46ABE2;
	border: 1px solid white;
	color: white;
	text-align: middle;
	vertical-align: middle;
	padding: 20px 35px;
	text-align: justify;
}

.texte_sous2 {
	background-color: #46ABE2;
	border: 1px solid white;
	margin-top: 15%;
	color: white;
	text-align: middle;
	vertical-align: middle;
	padding: 20px 35px;
	text-align: justify;
}

/*Bannières */

/*Bannières voyage*/

.voyage-box {
	background-image: url("images/voyages5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

/*Bannière sport*/

.sport-box {
	background-image: url("images/sport2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

/*Bannière jeux*/

.jeux-box {
	background-image: url("images/jeux2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

/*Bannière inspiration*/

.inspiration-box {
	background-image: url("images/inspiration.jpg");
	background-size: cover;
	position: cover;
}

.btn-primary {
	color: white;
	background-color: #46ABE2;
	font-family: Julius Sans One, sans-serif;
}


/*footer*/

#footer {
	height: 50px;
	position: center;
	background-color: #e7e7e7; 
}